<h3>Todo Component</h3>
<p>This is the todo component!</p>
<ul>
  <!--each list item changes css line-through styling when clicked-->
  <li *ngFor="let task of tasks"
    [ngClass]="{'complete':task.css}" (click)="task.css=!task.css;">
    Task: {{task.name}}
    <button (click)="removeTodo(task.id)">X</button>
  </li>
</ul>

<h2>Add todo</h2>
<input #name placeholder="Todo">
<button (click)="addTodo(name.value)">Add</button>
<br/>
<h4>Filter</h4>
<button>Show only complete</button>
<!--<input #remove placeholder="remove by name">
<button (click)="removeTodo(remove.value)">remove</button>
<br/>-->
