<h2>Todo Component</h2>
<p>Add a task and click it to make it complete.</p>

<h2>Show: {{shownTasks}}</h2>

<div class='tasks'>
  <span *ngFor="let task of (tasks | filterTasks:filter)"
    [ngClass]="{'complete':task.status}" (click)="task.status=!task.status;">
      Task: {{task.name}}
  </span>
</div>

<div>
  <input #newTask (keyup.enter)="addTask(newTask.value); newTask.value=''" placeholder="Enter a new task">
  <button (click)="addTask(newTask.value); newTask.value=''">Add</button>
</div>

<div>
  <button (click)="filter=null; shownTasks='All Tasks'">All</button>
  <button (click)="filter=true; shownTasks='Completed Tasks'">Completed Tasks</button>
  <button (click)="filter=false; shownTasks='Incomplete Tasks'">Incomplete Tasks</button>
</div>
